.search-results {
    /* background-color: #F4F4F8; */
    background-color: #E94F37;
    width: 70%;
    border: solid;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-top: 40px;
    /* margin-bottom: 500px;  */
}

.search-results h1 {
    /* color: #00CC66; */
    color: white;
}

.search-results label {
    color: white;
}

.search-results label, .search-results button {
    margin-left: 15px;
}

.search-results input, .search-results select {
    margin-left: 5px;
}

.result {
    border: solid;
    border-top: none;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    background-color: #F4F4F8;
}

.result img, .result-right {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

.results img {
    border-right: solid;
    border-width: 2px;
}

.result-right h3, .result-right p {
    
    margin: 0 auto;
    padding: 5px;
    padding-left: 20px;
}

.results .no-results {
    padding-bottom: 400px;
}

/* media query for phone */

@media all and (max-width: 450px) {
    .search-results {
        width: 90%;
    }

    .search-results form label, .search-results form input, .search-results form select, .search-results form button {
        margin: 0 auto; 
        display: block;
        margin-top: 10px;
    }  

    .results .result {
        width: 90%;
    }
    /*
    .results .result img {
        padding-top: 20px;
    } */

    .results .result img, .results  .result .result-right {
        display: block;
        text-align: center;
        padding: 20px;
    }
}