.profile-container {
    background-color: #F4F4F8;
    width: 90%;
    border: solid;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* left side of profile */

.profile-left, .profile-right {
    display: inline-block;
    border: solid;
    width: 50%;
}

.profile-left .profile {
    text-align: left;
    border-bottom: solid;
    background-color: #E94F37;
}

.profile-left .profile img {
    border-radius: 50%;
    margin-top: 10px;
}

.profile-left h1, .profile-left h3, .profile-left a:link, .profile-left a:visited {
    color: white;
}

.profile-left a {
    text-decoration: none;
}

.profile-left a:hover {
    text-decoration: underline;
}

/*
.profile-left .profile h1 {
    color: #00CC66;
} */

.profile-left .profile img, .profile-left .profile a, .profile-left .profile h1, .profile-left .profile h3 {
    margin-left: 30px;
}

.profile-left h2 {
    border-bottom: solid;
    border-color: black;
    margin: 0;
    padding: 20px;
}

.profile-left .listing {
    border-bottom: solid; 
    border-top: none;
    padding: 20px;
}

.profile-left .listing h4 {
    display: inline;
}

/* right side of profile */

.profile-right h2 {
    border-bottom: solid;
    border-color: black;
    margin: 0 auto; 
    padding: 30px;
}

.profile-right {
    overflow: scroll;
}

.profile-right .rental {
    border-bottom: solid;
}

.profile-right .rental img {
    margin-top: 5px;
}

/* media query for phone */

@media all and (max-width: 450px) {

    .profile-container {
        /* margin-top: 100px; */
        display: block;
    }

    .profile-container .profile-left {
        display: block;
        width: 100%;
        text-align: center;
        border: none;
    }

    .profile-container .profile-left .profile {
        text-align: center;
    }

    .profile-left .profile img, .profile-left .profile a, .profile-left .profile h1, .profile-left .profile h3 {
        margin-left: 0px;
    }
    
    .profile-container .profile-right {
        display: block;
        width: 100%;
        text-align: center;
        border: none;
    }

    .profile-right .rental {
        border-bottom: solid;
    }
}
