.confirmation {
    background-color: #F4F4F8;
    width: 70%;
    border: solid;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 25px;
}

.confirmation h1 {
    margin: 0 auto;
    padding: 30px;
}

.confirmation button {
    margin-bottom: 20px;
}

/* media query for phone */

@media all and (max-width: 450px) {
    .confirmation {
        width: 90%;
    }

}