.item {
    /* background-color: #F4F4F8; */
    background-color: #E94F37; 
    width: 70%;
    border: solid;
    margin: 0 auto;
    margin-top: 40px;
}

.item h1 {
    margin: 0 auto;
    padding: 30px;
    /* color: #00CC66; */
    color: white;
}

.item h3, .item p {
    color: white;
}

.item button {
    margin-bottom: 10px;
}

.item img {
    border: solid; 
    border-width: 2px;
}

/* media query for phone */

@media all and (max-width: 450px) {
    .item {
        width: 90%;
    }

    .item img {
        width: 100%;
        height: auto;
    }
}

/* media query for tablet */

@media all and (min-width: 600px) and (max-width: 900px) {
    .item img {
        width: 100%;
    }
}