.checkout {
    /* background-color: #F4F4F8; */
    background-color: #E94F37;
    width: 70%;
    border: solid;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 25px;
}

.checkout h1 {
    margin: 0 auto;
    padding: 30px;
    /* color: #00CC66; */
    color: white;
}

.checkout h2, .checkout h3, .checkout p, .checkout label, .checkout h5 {
    color: white;
}

.checkout form fieldset {
    padding: 50px;
} 

.checkout form label, .checkout form input, .checkout form button {
    /* margin-left: 10px;
    margin-top: 10px; */
    margin: 10px;
} 

.checkout .creditcard {
    padding: 20px;
}

.checkout .creditcard h5, .checkout .creditcard p {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.checkout .creditcard p {
    margin-left: 3px;
}

/* media query for phone */

@media all and (max-width: 450px) {
    .checkout {
        width: 90%;
    }

    .checkout h3 {
        width: 70%;
        margin: 0 auto;
        padding: 15px;
    }

    .checkout img {
        width: 100%;
    }
}