.edit-profile {
    background-color: #E94F37;
    width: 50%;
    border: solid;
    margin: 0 auto;
    margin-top: 40px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.edit-profile img, .edit-profile button, .edit-profile input, .edit-profile select {
    margin-bottom: 10px;
}

.edit-profile img {
    border-radius: 100%;
}

.edit-profile input, .edit-profile select {
    margin-left: 5px;
}

.edit-profile h1, .edit-profile label, .edit-profile h2 {
    color: white;
}

.listing {
    border-top: solid; 
    padding: 20px;
    background-color: #F4F4F8;
}

.listing h4, .listing button {
    display: inline;
}

.listing button {
    float: right;
    margin-right: 10px;
}

/* media query for phone */

@media all and (max-width: 450px) {
    .edit-profile {
        width: 90%;
    }

    .edit-profile .listings .listing {
        margin: 0 auto; 
        text-align: center; 
    }

    .edit-profile .listings .listing button {
        display: block;
        float: none; 
        margin: auto;
        margin-top: 20px;
    }

}

/* media query for tablet */

@media all and (min-width: 600px) and (max-width: 900px) {
    .edit-profile {
        width: 90%; 
    }
}