/* header */

header {
    height: 70px;
    border-bottom: solid;
    margin: 0;
    background-color: blanchedalmond;
    position: relative;
}
  
header h2 {
    display: inline-block;
    margin: 0 auto;
    margin-left: 20px;
    width: 10%;
    padding: 18px; 
}

header nav {
    margin: 0 auto;
    display: inline-block;
    width: 84%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*
header nav {
    margin: 0 auto;
    /*width: 25%; 
    display: inline;
    float: right;
    padding: 8px;
    vertical-align: middle;
} */

header nav ul {
    text-align: right;
} 

header nav ul li {
    display: inline;
    margin-right: 50px; 
}

header nav ul li img {
    border-radius: 50%;
}

/* dropdown */

.dropdown-container {
    border: solid;
    width: 10%;
    position: absolute; 
    background-color: blanchedalmond;
    margin-left: 900px; 
    text-align: center;
}

.dropdown-container a, .dropdown-container button {
    display: inline-block;
    margin: 5px;
}

/* media query for phone */ 

@media all and (max-width: 450px) {

    header {
        text-align: center;
        height: auto;
    }

   header h2 {
       display: block;
       margin-left: 0;
       width: auto;
       padding-bottom: 0;
       margin: 0 auto;
       padding: 20px;
   } 

   header nav {
       float: none;
       display: block;
       padding: 3px;
       position: static;
       margin: 0 auto; 
       top: none; 
       transform: none;
       width: auto;
   }

   header nav ul {
       margin: 0;
       text-align: center; 
       padding-right: 40px;
       width: auto; 
       display: block;
   }

   header nav ul li {
        display: block; 
        margin: 0px;
        width: auto;
        padding: 10px;
   }

   header nav {
       background-color: blanchedalmond;
   }

   .dropdown-container {
       /* margin: auto; 
       margin-left: 100px; */
       margin: 0 auto;
       width: 90%;
       position: static;
   }

}

/* media query for tablet */

@media all and (min-width: 600px) and (max-width: 900px) {
    .dropdown-container {
        margin-left: 495px; 
    }
}